= f.input :user_id
= f.input :email
= f.input :password, :as => :hidden, :input_html => { :value => "Pass.123" }
= f.input :password_confirmation, :as => :hidden, :input_html => { :value => "Pass.123" }
