= f.input :user_id, :label => "Staff/Student ID", :required => true
= f.input :email, :label => "Email Address:"
= f.input :password, :label => "Password:", :required => true
= f.input :password_confirmation, :label => "Confirm Password:", :required => true
