%p An instrument failure has occurred:
%p
  Instrument with failure: #{@experiment.instrument}
  %br/
  Failure Reason: #{@experiment_feedback.instrument_failed_reason}
  %br/
  From Experiment: #{@experiment.expt_name}
  %br/
  Reported by user: #{@user.full_name}
%p


