%h2 Your account is not active at the moment.
%p
= button_to "Close", nil, id: "close", class: "btn"
:javascript
  $('#close').click(function(){
    window.open('', '_self', '');
    window.close();
    return false;
  });