%h2 Please enter your staff/student id and password to log in
= f.input :user_id, :required => false, :label => "Staff/Student ID"
= f.input :password, :required => false
.form-actions
  = f.submit "Log in", :class => "btn btn-primary"
